@media (max-width: 992px) {
  .header {
    flex-direction: column !important;
  }
}

@media (max-width: 560px) {
  .header {
    align-items: flex-start !important;
    justify-content: flex-start !important;
    gap: 25px;

    .main_menu {
      min-width: 300px !important;

      justify-content: flex-start !important;
      align-items:flex-start !important;
      flex-direction: column !important;
      gap: 20px;
    }
  }
}


.header {
  min-height: 150px;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  .main_menu {
    padding: 0;
    min-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: space-around;

    text-decoration: none;
    list-style: none;
  }

  .main_menu li {
    &:hover {
      text-decoration: underline;
    }

    cursor: pointer;

    font-size: 1.5rem;
    font-weight: 700;
  }

  .orgname {
    display: flex;
    align-items: center;

    gap: 20px;

    .logo {
      min-width: 70px;
      min-height: 70px;
    }
  }
}
