@media (max-width: 700px) {
  .card {
    .logo {
      display: none !important;
    }


    .content {
      .meta {
        .parthener_name {
          .mini_logo {
            display: block !important;
          }
        }
      }


      .footer {
        flex-direction: column !important;
        align-items: flex-start !important;
      }
    }
  }
}

.card {
  display: flex;
  flex-direction: row;

  gap: 40px;

  .logo {
    width: 100%;
    max-width: 300px;

    span {
      position: unset !important;
    }

    .image {
      display: none;
      background-color: #000000;
      position: fixed;
      object-fit: contain;
      width: auto !important;

      position: relative !important;
      height: unset !important;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .meta {
      display: flex;
      flex-direction: column;

      justify-content: flex-start;

      .parthener_name {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        .mini_logo {
          display: none;
        }
      }
    }

    .footer {
      display: flex;
      flex-direction: row;
      gap: 20px;
      justify-content: space-between;
      align-items: center;

      .contacts {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .email {
          display: flex;
          align-items: center;
          gap: 5px;
        }

        .phone {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }

      .social {
        min-width: 200px;
        height: 30px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        gap: 10px;
      }
    }
  }
}
